.faq-index .main-banner {
    margin: auto;
    align-items: center;
    background-color: #03c75a;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 350px;
    justify-content: center;
    position: relative;
    width: 1440px;
}

.faq-index .main-banner-big-text-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 120px;
    position: relative;
    width: 476px;
}

.faq-index .main-banner-big-text {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.faq-index .middle-content-wrap {
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(134, 134, 134);
}

.faq-index .content-wrap {
    margin: auto;
    width: fit-content;
    height: fit-content;
}